<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Microblog</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta user="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/microblog.css}" rel="stylesheet" />
</head>
<body>
    <th:block th:fragment="navbar">
        <div class="placeholder"></div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Microblog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="/wlan">Global Timeline</a></li>
                        <li class=""><a href="/user">My Timeline</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/newEntry">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>
                                Neuer Post
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                Angemeldet als {{ user.login_name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout">Abmelden</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/login">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
                                Anmelden
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </th:block>



    <th:block th:fragment="timeline">
        <div class="container">
            <h2>Timeline</h2>
            <div class="container" th:each="post : ${posts}">
                <h3 th:text="${post.user}"></h3>
                <p th:text="${post.content}"></p>
            </div>
        </div>
    </th:block>

    <div class="container">
        <div class="box">
            <h1>Greeting!</h1>
            <p th:text="'Hello ' + ( ${greeting.user} != null ? ${greeting.user} + '!' : 'World!')"/>
            <p th:text="${greeting.content} != null ? ' Your message: ' + ${greeting.content}"/>
            <h3>Your Comment</h3>
            <form class="form-inline" action="#" th:action="@{/}" th:object="${greeting}" method="post">
                <div class="form-group">
                    <label for="f1"> Name </label>
                    <input placeholder="Bob" id="f1" type="text" th:field="*{user}" />
                </div>
                <div class="form-group">
                    <label for="f2"> Message </label>
                    <input placeholder="hello" id="f2" type="text" th:field="*{content}" />
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <a class="btn btn-default" th:href="@{/greeting}">Reset</a>
    </div>

    <span th:fragment="footer">
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    </span>
</body>
</html>
