<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="index :: head"></th:block>
</head>
<body>

	<th:block th:include="index :: navbar"></th:block>

    <div class="container">
        <div class="box">
            <h2>User Login</h2>
            <form action="#"
                  method="post">
                <form class="form-inline" action="#" th:action="@{/login}" th:object="${attempt}" method="post">
                    <div class="form-group">
                        <input placeholder="Username" id="f1" type="text" th:field="*{name}" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Password" id="f2" type="password" th:field="*{password}" />
                    </div>
                    <input type="submit" value="Sign In"/>
                </form>
            </form>
        </div>
    </div>

	<th:block th:include="index :: footer"></th:block>
</body>
</html>
