<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Login</h1>

	<h3>Post you password in plaintext here</h3>
	<form action="#" th:action="@{/greeting}" th:object="${greeting}"
		method="post">
		<p> Name <input type="text" th:field="*{user}" /></p>
		<p> Message <input type="text" th:field="*{content}" /></p>
		<p> Bootstrap <input type="checkbox" th:field="*{bootstrap}"/></p>
		<p> <input type="submit" value="Submit" /></p>
	</form>
	<a th:href="@{/greeting}">Reset</a>
</body>
</html>
